{% macro persons() %}
{% set numero = { 
	'person.marco' : '331xxxxxxx',
	'person.tata' : '334xxxxxxxx' 
				} %}
{% set id_device_mobile = integration_entities('mobile_app') | map('device_id') | reject ('eq', None) | unique  | list %} 
{% set list_person_with_tracker = states.person | selectattr('attributes.device_trackers', 'defined') | map(attribute='entity_id') | list %}
	[
	{% for persons in list_person_with_tracker if state_attr(persons, 'device_trackers')  | select( 'in', integration_entities('mobile_app')) | list | count > 0  %}
	{% set ids = state_attr(persons, 'device_trackers')| map('device_id')| select( 'in', id_device_mobile)| unique |first %}
		{
			"person": "{{ persons }}",
			"battery": "{{ expand(ids | device_entities)  | selectattr('attributes.device_class', 'eq', 'battery') | map(attribute='entity_id') |first | default('none') }}",
			"notify": "mobile_app_{{ device_attr(ids, 'name') | slugify }}",
			"sveglia": "{{ expand(ids | device_entities)  | selectattr('attributes.device_class', 'eq', 'timestamp') | map(attribute='entity_id') |first | default('none') }}",
			"cellulare": "{{numero.get(persons, 'none') }}"
		}
	{%- if loop.first %},{% endif -%}
	{% endfor %}
	]
{% endmacro %}